.row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
        h2 Add Vendor
        ol.breadcrumb
            li.breadcrumb-item
                a(href='../../index.html') Home
            li.breadcrumb-item
                a Forms
            li.breadcrumb-item.active
                strong Add Vendor
    .col-lg-2
